body { 
    background-color: rgba(69, 80, 94, 0.521);
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.top {
    font-family: 'Roberto Mono', monospace;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .left {
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    padding-left: 0px;
}

.header .right {
    display: flex;
    font-size: 12px;
    gap: 12px;
}

.top {
    background-size: cover;
    background-image: url("peregrine1.jpg");
    height: 40vw;
}

.opener {
    display:flex;
}

.opener .left {
    width:150vw;
}

.opener h1 {
    color: white;
    font-size: 3vw;
}

.opener h2 {
    color: rgb(248, 235, 211);
    font-size: 2vw;
}