* {
    font-family: 'Roberto Mono', monospace;
}

body { 
    background-color: rgba(69, 80, 94, 0.521);
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border-radius: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0px;
}

.header .left {
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    padding-left: 0px;
}

.header .right {
    display: flex;
    font-size: 12px;
    gap: 12px;
}

.top {
    background-size: cover;
    background-image: url("peregrine1.jpg");
    border-radius: 15px;
    height: 45vw;
}

.opener {
    display:flex;
    align-items:flex-start;
}

.opener .left {
    width:140vw;
}

.opener h1 {
    color: white;
    font-size: 3vw;
    font-weight: bolder;
}

.opener h2 {
    color: #808080;
    font-size: 2vw;
}

.middlebar {
    display:flex;
    flex-direction: column;
    background-color: #332c1fb0;
    height: auto;
    justify-content: center;
    align-items: center;
    color: #e2d6c4d2;
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px;
}

.middlebar img {
    height: 100px;
    width: 150px;
    border-radius: 15px;
    margin-top: 20px;
}

.images {
    display: flex;
    gap: 8vw;
    font-size: 14px;
    text-align: center;
}

.quotebar {
    height: auto;
    background-color: rgba(0, 0, 0, 0.651);
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin-top: 20px;
    border-radius: 40px;
}

.quotebar .quote,
.quotebar .credit {
    font-family: 'Dancing Script', cursive;
    color: white;
}

.quotebar .quote {
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.quotebar .credit{
    padding-right: 30px;
}

.calltoaction {
    background-color: #d2c7b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 40px;
    border-radius: 20px;
}

.calltoaction .right {
    margin-right: 40px;
}

footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.616);
    background-color: #332c1f;
    margin: 0px;
    height: 30px;
}
